@font-face {
  font-family: "Novelist";
  src: url("./../../public/fonts/ofont.ru_Novelist.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: url("./../../public/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #1b1b1b, #240d35, #2c004f);
}
html {
  scroll-behavior: smooth;
}
// * {
//   font-family: "Novelist", sans-serif;
// }
// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }
